@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,200;1,400;1,500&display=swap');
*
{
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
    text-align: center;
    align-items:center;
}

body
{
    background-image: url(./patientimages/bg_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}

/* SLIDER */
.switch 
{
    position: relative;
    display: inline-block;
    width: 41px;
    height: 22px;
}
  
 
.switch input 
{
    opacity: 0;
    width: 0;
    height: 0;
}
  

.slider
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before 
{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    top:3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider
{
    background-color: #2196F3;
}
  
input:focus + .slider 
{
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before 
{
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}  

/* ------- */
.button1
{
    text-decoration:none;
    color:white;
    background-color:rgb(6, 114, 21);
    padding:10px 20px;
    border-radius:12px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:600;
}
.button1:hover
{
    color:rgb(6, 114, 21);
    background-color: transparent;
    border:2px solid rgb(6, 114, 21);
    transition:0.2s;
}

body h1
{
    padding-top: 50px;
    font-size:100px;
}
body h2
{
    padding-top:20px;
    padding-bottom:20px;
    color:rgba(114, 108, 108, 0.829);
}

body .box1
{
    height:200px;
    width:500px;
    position:absolute;
    left:520px;
    top:300px;
    box-shadow: 0px 0px 4px 2px #64a19b;
    
}
