@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,200;1,400;1,500&display=swap');
*
{
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
}
body
{
    background-image: url(../capstone/patientimages/bg4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    font-family: poppins;
    background-attachment: fixed;
}
.container
{
    padding-bottom: 100px;
}
.overlay
{
    background-color:rgba(0, 0, 0, 0.699);
    height:266vh;
    color:white;
    
}
.container .row
{
    position:relative;
}
.container .header
{
    height:200px;
}
.container .header h1
{
    padding-top:20px;
}
.container .header h2
{
    padding-top:20px;
}
/* ---- */
.container .row .box
{
    width:700px;
    position:absolute;
    left:200px;
}
.name1
{
    display:flex;
    width:25rem;

}

.fname1
{
    padding: 0px 5px;
    margin:0px 10px;
    
}
.lname1
{
    padding: 0px 5px;
    margin:0px 5px;
    
}
.fname2
{
    padding:0px 5px;
    
    
}
.lname2
{
    padding: 0px 5px;
    margin-left:10px;
    
}

.dob1
{
    margin:0px 10px;
    padding: 0px 10px;
}
.textarea1
{
    position:relative;
    padding-bottom:120px;

}
.textarea1 textarea
{
    position:absolute;
}
.addr
{
    width:20rem;
}
.emailid
{
    width:15rem;
}
input
{
    box-shadow: 0px 0px 2px 0px white;
    border:none;
}
.radiobtn
{
    box-shadow:none;
}

.enrollbtn
{
    padding:5px 40px;
    border-radius: 7px;
    border:none;
    color:white;
    background-color:#16AA52;
    margin-left:250px;
    margin-top:50px;
    margin-bottom:50px;
}